@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot') format('eot'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?67794583#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-th-list:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e822'; } /* '' */
.icon-pencil:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-cancel:before { content: '\e81b'; } /* '' */
.icon-help-circled:before { content: '\e817'; } /* '' */
.icon-info-circled:before { content: '\e818'; } /* '' */
.icon-tag:before { content: '\e801'; } /* '' */
.icon-tags:before { content: '\e815'; } /* '' */
.icon-export:before { content: '\e82d'; } /* '' */
.icon-comment:before { content: '\e80c'; } /* '' */
.icon-chat:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-share:before { content: '\e82c'; } /* '' */
.icon-basket:before { content: '\e811'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-down-circled2:before { content: '\e827'; } /* '' */
.icon-up-circled2:before { content: '\e828'; } /* '' */
.icon-qrcode:before { content: '\e81e'; } /* '' */
.icon-barcode:before { content: '\e81d'; } /* '' */
.icon-spin1:before { content: '\e82b'; } /* '' */
.icon-spin3:before { content: '\e82a'; } /* '' */
.icon-paper-plane:before { content: '\e829'; } /* '' */
.icon-check-empty:before { content: '\e813'; } /* '' */
.icon-filter:before { content: '\e81c'; } /* '' */
.icon-menu:before { content: '\e810'; } /* '' */
.icon-comment-empty:before { content: '\e825'; } /* '' */
.icon-chat-empty:before { content: '\e826'; } /* '' */
.icon-bell-alt:before { content: '\e803'; } /* '' */
.icon-quote-left:before { content: '\e81f'; } /* '' */
.icon-quote-right:before { content: '\e820'; } /* '' */
.icon-direction:before { content: '\e805'; } /* '' */
.icon-help:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\e819'; } /* '' */
.icon-lock-open-alt:before { content: '\e814'; } /* '' */
.icon-yen:before { content: '\e809'; } /* '' */
.icon-sort-alt-up:before { content: '\e830'; } /* '' */
.icon-sort-alt-down:before { content: '\e82f'; } /* '' */
.icon-weibo:before { content: '\e82e'; } /* '' */
.icon-pin:before { content: '\e821'; } /* '' */
.icon-phone:before { content: '\e824'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-lock-open:before { content: '\e808'; } /* '' */
.icon-bell:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e823'; } /* '' */