<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/parts.css" rel="stylesheet" type="text/css" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/import.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
</head>
<body>
<div id="wrapper">
{inc: include("shop/index_header.php");/}
  <input type="hidden" name="name" value="">
  <input type="hidden" name="order" value="">
  <!--header end -->
  <div id="contents" class="clearfix"  >
  	<div id="channel" class="clearfix">
      <ul class="clearfix">
        <li >
           <h2><img onmouseover="show_obj('category_box')" onmouseout="hidden_obj('category_box')" src="skin/default/images/ttl_channel_all.gif" alt="{echo:$i_langpackage->i_allgoodsheader_category;/}"  onerror="this.src='skin/default/images/nopic.gif'"/></h2>
        </li>
        <?php
        	foreach ($nav_list as $value){
        ?>
        <li><span><a href="<?php echo $value['url']?>"><?php echo $value['nav_name']?></a>|</span></li>
		<?php
        	}
		?>
      </ul>
      </div>
	    <div id="category_box" class="allMerchan" style=" display:none" onmouseover="show_obj(this)"  onmouseout="hidden_obj(this)">
        <ul  >
        {sta: foreach(array_slice ($CATEGORY[0], 0) as $key=>$cat)[loop]}
        	<li class="clearfix">
            <h3><a href="{echo: category_url($cat['cat_id']);/}" title="{echo: $cat['cat_name'];/}">{echo: $cat['cat_name'];/}</a></h3>
            {sta:if(isset($CATEGORY[$cat['cat_id']]) && $CATEGORY[$cat['cat_id']])[exc]}
            <p>
                {sta: foreach(array_slice ($CATEGORY[$cat['cat_id']], 0, 8) as $subcat)[loop]}
                    <a href="{echo: category_url($subcat['cat_id']);/}" title="{echo: $cat['cat_name'];/}">{echo: $subcat['cat_name'];/}</a>|
                {end:foreach/}
             </p>
             {end:if/}
            </li>
		{end:foreach/}
        </ul>
    </div>
    </div>

    <div id="leftColumn">
      <div id="leftMian">
        <div class="top2 clearfix">
          <!--<span class="right"><a id="list" onclick="changeStyle2('list',this)" class="selected" href="javascript:void(0);" hidefocus="true">{echo:lp{i_list};/}</a><a id="window" onclick="changeStyle2('window',this)" href="javascript:void(0);" hidefocus="true">{echo:lp{i_show_window};/}</a></span> -->
          <h3 class="ttlm_selitems">{echo:lp{i_choice_good};/}</h3>
        </div>
        <div class="groupShow clearfix">
          <table class="tab_group " width="100%">
            <tbody>
              <tr>
                <th class="proName">{echo:lp{s_groupbuy_goods};/}</th>
                <th class="groupPic">{echo:lp{s_groupbuy_price};/}</th>
                <th class="groupQut">{echo:lp{s_groupbuy_num};/}</th>
                <th class="groupName">{echo:lp{s_goods_name};/}</th>
                <th class="timeLeft">{echo:lp{s_groupbuy_time};/}</th>
              </tr>
            {sta: if($result['result']) {
            foreach($result['result'] as $v)[loop]}
            <tr>
              <td valign="middle" class="proName"><div class="photo"><a href="goods.php?id={echo: $v['group_id'];/}&app=groupbuyinfo"><img src="{echo: $v['is_set_image'] ? $v['goods_thumb'] : 'skin/default/images/nopic.gif';/}" width="95" height="95" alt="{echo: $v['goods_name'];/}"  onerror="this.src='skin/default/images/nopic.gif'"/></a> </div>
                <div class="proInfo">
                  <h3 class="mg12b"><a href="goods.php?id={echo: $v['group_id'];/}&app=groupbuyinfo">{echo: sub_str($v['group_name'],22,false);/}</a></h3>
                  <p>[{echo:lp{i_groupbuy_say};/}]{echo: $v['group_desc'];/}</p>
                </div></td>
              <td class="groupPic"><em class="pic">{echo:lp{i_money_sign};/}{echo: $v['spec_price'];/}{echo: lp{s_yan};/}</em></td>
              <td class="groupQut">{echo: $v['min_quantity'];/}</td>
              <td class="groupName"><a href="goods.php?id={echo: $v['goods_id'];/}">{echo: sub_str($v['goods_name'],22,false);/}</a></td>
              <td class="timeleft">{echo: time_left(strtotime($v['end_time']));/}</td>
            </tr>
            {end:foreach/}
            {sta: }else [exc]}

              <td  style='text-align:left' colspan="5">&nbsp;{echo:lp{i_no_groupbuy};/}！</td>
            </tr>
            {end:if/}
            </tbody>

          </table>
  		<div class="pagenav clearfix">
			{inc: require("modules/page.php");/}
		</div>
        </div>
      </div>
      <!-- main end -->

      <!-- leftColumn -->
    </div>
    <div id="rightColumn">
      <div class="tagSet bg_gary mg12b">
        <h3 class="ttlm_hottag">{echo:lp{i_hot_label};/}</h3>
        <div class="tags">
			{sta:foreach($tag_list as $value)[loop]}
        	<a href="{echo:$value['url'];/}" style="color:{echo:$value['tag_color'];/};{sta:if($value['is_blod'])[exc]}font-weight:bold;{end:if/}">{echo:$value['tag_name'];/}</a>
        	{end:foreach/}
       </div>
      <div class="hotgoods bg_gary mg12b">
        <h3 class="ttlm_hotgoods">{echo:lp{i_goods_commend};/}</h3>
        <ul>
          {sta:foreach($goods_hot as $key => $v)[loop]}
          <li {sta:if($key%2!=0)[loop]} class="doublenum"{end:if/}>
            <p class="photo"><a href="{echo: goods_url($v['goods_id']);/}" target="_blank"><img src="{echo: $v['is_set_image'] ? $v['goods_thumb'] : 'skin/default/images/nopic.gif';/}" alt="" width="58" height="58"  onerror="this.src='skin/default/images/nopic.gif'"/></a></p>
            <h4><a href="{echo: goods_url($v['goods_id']);/}" target="_blank">{echo: sub_str($v['goods_name'],38);/}</a></h4>
            <p class="price">{echo:lp{i_money_sign};/}{echo:$v['goods_price'];/}</p>
          </li>
          {end:foreach/}
        </ul>
      </div>
      <div class="viewrecord bg_gary mg12b">
        <h3 class="ttlm_viewrecord">{echo:lp{i_brower_register};/}</h3>
        <ul class="clearfix">
          {sta:foreach($goodshistory as $k=> $v)[loop]}
          <li {sta:if($k%2!=0)[exc]}class="lst"{end:if/}>
            <p class="photo"><a href="{echo: goods_url($v['goods_id']);/}" target="_blank"><img src="{echo: $v['is_set_image'] ? $v['goods_thumb'] : 'skin/default/images/nopic.gif';/}" alt="" width="58" height="58"  onerror="this.src='skin/default/images/nopic.gif'"/></a></p>
            <p class="price">{echo:lp{i_money_sign};/}{echo:$v['goods_price'];/}</p>
          </li>
          {end:foreach/}
        </ul>
      </div>
      <!-- /rightColumn -->
    </div>
  </div>
  {inc: require("shop/index_footer.php");/}
  <!--footer end-->
  </div>
</body>
</html>