@charset "utf-8";
/*#00A3D3 #00A3D3*/
#shopHeader .shop_nav { border-bottom:1px solid #00A3D3; }
#shopHeader .shop_nav li.on { background-color:#00A3D3; }
.shopInfo { background:url(../images/shop_blue/detail_bg.gif) no-repeat scroll right bottom #F5F9EB; color:#4E4E4E; }
#shopContents #leftCloumn .itemsCate .items h4 a { color:#00A3D3; }
.guestbook li .shoper a, .guestbook li .shoper p { color:#00A3D3; }
.guestbook .guestInput .line { padding-top:20px; margin-right:10px; border-top:1px dashed #00A3D3; }
#rightCloumn .list_tab_02 { border-bottom:2px solid #00A3D3; }
#rightCloumn .list_tab_02 li.selected, #itemDetail .list_tab li.now { background-color:#00A3D3; }
#rightCloumn .list_tab_02 li.selected a { color:#FFF }
.tab_credit_des th { background-color:#00A3D3; border-bottom:1px solid #00A3D3 }
.tab_group th { background-color:#eaf5ff; border-color:#00A3D3; }
.bg_gary h3 a { color:#00A3D3; }
#pkz { border-top:2px solid #00A3D3; }
#shopContents #leftCloumn .itemsCate .ttlm_itemsCate, #shopContents #leftCloumn .shopSearch .ttlm_shopsec { border-bottom:2px solid #00A3D3; }
.bg_gradual { background:url(../images/shop_blue/ttlm_01_bg.gif) repeat-x scroll left top transparent; }
.btn_ser, #shopContents .guestbook .guestInput input.btnSetmess { background:none repeat scroll 0 0 #00A3D3; border:0 none; color:#FFFFFF; font-weight:bold; padding:4px 10px; text-indent:0 }
.btn_ser { padding-top:2px }
#shopContents .ttlm_recom, #shopContents .newgoods .ttlm_newgoods, .guestbook .ttl_guestbook { color:#00A3D3; background:url(../images/shop_blue/ttlm_bg.gif) no-repeat 3px top; }
#rightCloumn h3.ttlm_font { color:#00A3D3; background:url(../images/shop_blue/ttlm_01_bg.gif) repeat-x scroll left top transparent; }
#itemDetail .list_tab { border-bottom:2px solid #00A3D3 }
