/*	2010-06-01  */

.ui_title_wrap, .ui_bottom button { font-size:12px 'Microsoft Yahei', Arial; }
.ui_content_wrap { min-width:9em; }/*设置对话框最小尺寸*/
.ui_border { filter:alpha(opacity=30); opacity:0.3; }/*设置外边框透明度*/
.ui_focus .ui_border { filter:alpha(opacity=50); opacity:0.5; }
.ui_move .ui_border { filter:alpha(opacity=40); opacity:0.4; }

.ui_overlay div { background:#000; filter:alpha(opacity=70); opacity:0.7; }/*设置遮罩颜色与透明度*/
.ui_dialog_main { background-color:#FFF; border:1px solid #000!important; }

/*ui_td_01:上边框, ui_td_12:右边框, ui_td_21:下边框, ui_td_10:左边框*/
.ui_close, .ui_td_00, .ui_td_02, .ui_td_20, .ui_td_22 { width:9px; height:9px; background-image:url(./dialog.png); background-repeat:no-repeat; }
.ui_title { height:100%; position:relative; border-bottom:2px solid #EBEBEB; }
.ui_title_text { height:30px; line-height:30px; padding:0 30px 0 10px; background-color:#3A6EA5; font-weight:700; color:#EBEBEB; border-style:solid; border-width:1px; border-color:#4E84C0 #4E84C0 #0D1D3C #4E84C0; }
.ui_move .ui_title_text { color:#FFF; }
.ui_move .ui_title { border-bottom:2px solid #FFF; }
.ui_focus .ui_title_text { background-color:#214FA3; }
.ui_close { width:13px; height:13px; _font-size:0; *line-height:0; border:1px solid #3A6EA5; top:8px; right:8px; text-align:left; text-indent:-9999em; overflow:hidden; background-position:center center; }
.ui_focus .ui_close { border-color:#214FA3; }
.ui_close:hover { background-color:#771C35; border-color:#000; cursor:default; }
.ui_close:active { background-color:#A80000; }
.ui_resize { width:8px; height:8px; }
.ui_btns { background-color:#F6F6F6; border-top:1px solid #EBEBEB; border-bottom:1px solid #CCC; -moz-box-shadow: inset 0 -2px 2px rgba(204, 204, 204, 0.3); -webkit-box-shadow: inset 0 -2px 2px rgba(204, 204, 204, 0.3); box-shadow: inset 0 -2px 2px rgba(204, 204, 204, 0.3); }
.ui_btns button { margin:0; height:2em; line-height:2em; padding:0 5px; border-color:#FFF #848484 #848484 #FFF; border-style:solid; border-width:1px; color:#000; text-align:center; letter-spacing:2px; background-color:#F8F8F8; }
.ui_btns .ui_yes button { background-color:#3A6EA5; color:#FFF; border-color:#84A6E6 #122B58 #122B58 #84A6E6; cursor:pointer; }
.ui_btns .ui_yes:hover button { background-color:#2251A8; }
.ui_border.ui_td_00 { background-position:left top; }/*左上角*/
.ui_border.ui_td_02 { background-position:right top; }/*右上角*/
.ui_border.ui_td_22 { background-position:right bottom; }/*右下角*/
.ui_border.ui_td_20 { background-position:left bottom; }/*左下角*/
.ui_border.ui_td_01, .ui_border.ui_td_12, .ui_border.ui_td_21, .ui_border.ui_td_10 { background-color:#000; }
.ui_btns span { border:1px solid #666; }
.ui_focus .ui_dialog_main { -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7); box-shadow: 0 0 3px rgba(0, 0, 0, 0.7); }
.ui_focus .ui_td_21 { -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }/*CSS3投影*/
.ui_move .ui_td_21 { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; }
.ui_move_temp div { background-color:#214FA3; filter:alpha(opacity=40); opacity:0.4; }/*拖动用的替身对话框*/

/*
主题拓展参数[可添加组合在'style'参数中]
可用来支持消息类型图标等
*/

/*直角边框*/
.noRadius .ui_border { background:#000 none; }
/*无外边框*/
.noBorder .ui_border { display:none; }
/*没有标题栏*/
.noTitleBar .ui_title_wrap { height:0; _display:none; visibility:hidden; }
/*去除所有背景*/
.noSkin .ui_border, .noSkin .ui_title_wrap, .noSkin .ui_dialog_icon { display:none; }
.noSkin .ui_bottom_wrap { display:none; *display:block; *height:0; overflow:hidden; }
* html .noSkin .ui_btns { height:0; overflow:hidden; position:absolute; left:-99999em; }
.noSkin .ui_content { margin:0; }
.noSkin .ui_dialog_main { background:transparent; }