<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加商品</title>
</head>
<body>




<!--TODO 添加/修改产品-->
<div ng-controller="addgoodCtrl" id="pageshop" data-role="page" ngm-pageshow="prefill()">
    <!--<div data-role="panel" class="myPanel"-->
         <!--data-position-fixed="true"-->
         <!--data-position="left"  data-display="overlay">-->
        <!--<h1><img src="images/logo.png"/></h1>-->
        <!--<ul class="panelul" data-role="listview" data-inset="false" data-split-theme="h">-->
            <!--<li>-->
                <!--<a href="#!/">首页</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#!/account">管理中心</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#!/chatlist">新消息</a>-->
                <!--<span class="ui-li-count">55</span>-->
            <!--</li>-->
        <!--</ul>-->

    <!--</div>-->


    <header data-role="header" data-position="fixed">
        <a data-rel="back" class="ui-btn-left" data-direction="reverse" data-theme="e" data-icon="delete" data-role="button">取消</a>
        <h1>添加商品</h1>
        <button class="fakeSubmit ui-btn-right" data-theme="b" data-icon="check" data-role="button">提交</button>
    </header>

    <section data-role="content">


        <form ng-submit="goodSubmit()" data-ajax="false" src="">

            <div data-role="none" class="noShow">
                <input class="trueSubmit" data-role="none" data-inline="true" id="shopSub" ng-init="subBtn={isOff:false,submitText:'提交'}" type="submit" ng-disabled="subBtn.isOff" value="{{subBtn.submitText}}" />
                <a data-role="none" data-inline="true" data-role="button" href="#!/account">取消</a>
            </div>

            <div data-role="fieldcontain" class="shoppic goodpicList">
                <label class="ui-input-text">添加照片:</label>
                <a id="fakeAddgoodpic">
                    <img src="images/add_photo.png"/>
                </a>
                <i></i>
                <input class="noShow" data-role="none" id="trueAddgoodpic" type="file" ng-model="file" ng-change="changeGoodlogo()" accept='image/*'/>
            </div>

            <div data-role="fieldcontain">
                <label for="s_goodname">*产品名:</label>
                <input type="text" name="name" ng-model="goodPrams.name" required id="s_goodname" value=""  placeholder="请填写一个名字"/>
            </div>
            <div data-role="none" class="noShow">
                <input data-role="none" type="text" ng-model="goodPrams.shopid" required readonly/>
            </div>

            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <legend>所属类别:</legend>
                <label for="g_cat1">一级</label>
                <select id="g_cat1" required ng-model="cat1" ng-change="getcat2List($event)" ng-options="cat1.cat_name for cat1 in cat1List" >

                </select>
                <label for="g_cat2">二级:</label>
                <select id="g_cat2" required ng-model="cat2" ng-show="cat2" ng-options="cat2.cat_name for cat2 in cat2List">

                </select>
                    </fieldset>
            </div>

            <div data-role="fieldcontain">
                <label for="s_goodintro">产品简介</label>
                <input type="text" name="name" ng-model="goodPrams.introduction" id="s_goodintro"/>
            </div>

            <div data-role="fieldcontain">
            <label for="s_goodprice">单价</label>
            <input type="text" name="name" ng-model="goodPrams.price" id="s_goodprice"/>
        </div>

            <div data-role="fieldcontain">
                <label for="s_goodtel">联系电话:</label>
                <input ng-model="goodPrams.telphone" type="tel" id="s_goodtel"/>
            </div>

            <div data-role="fieldcontain">
                <label for="s_goodadd">联系地址:</label>
                <input ng-model="goodPrams.address" type="text" id="s_goodadd"/>
            </div>

            <div data-role="fieldcontain">
                <label for="s_goodmail">联系邮件:</label>
                <input ng-model="goodPrams.email" type="text" id="s_goodmail"/>
            </div>



        </form>

    </section>


</div>
<!--创建/修改商品结束-->


</body>
</html>